body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1em;
  font-weight: 400;
  color: #788991; }

a, a:hover, a:focus, a:active {
  color: #788991;
  text-decoration: none;
  outline: none; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

nav {
  font-size: 13px; }
  nav .nav-left {
    letter-spacing: 3px;
    text-transform: uppercase; }
  nav .container-fluid {
    max-width: 1140px; }

.navbar {
  margin-bottom: 0; }

.navbar-default {
  background-color: #fff;
  border-top: 4px solid #eee; }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    color: #e96e57;
    border-top: 4px solid #e96e57;
    background-color: #fff;
    box-sizing: initial;
    position: relative;
    top: -4px; }

.navbar-nav > li > a, .navbar-brand {
  padding: 20px 0;
  margin: 0 15px; }

.navbar-brand {
  margin-right: 30px; }
  .navbar-brand .logo_mark {
    position: relative;
    bottom: 5px;
    left: 5px;
    display: inline-block;
    width: 25px;
    height: 30px;
    float: left;
    margin-right: 15px; }
    .navbar-brand .logo_mark .logo_icon {
      width: 18px;
      height: 30px;
      border-radius: 13px;
      position: absolute;
      opacity: 0.8; }
    .navbar-brand .logo_mark .li1 {
      border: 2px solid #ed7c64;
      transform: rotate(-40deg); }
    .navbar-brand .logo_mark .li2 {
      border: 2px solid #3c8a9a;
      transform: rotate(15deg); }
    .navbar-brand .logo_mark .li3 {
      border: 2px solid #70a6b2;
      transform: rotate(80deg); }

.center {
  text-align: center; }

.logo {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: 400; }

.titlebar {
  background: #346b83;
  color: #fff;
  min-height: 80px;
  position: relative; }
  .titlebar .container {
    padding-left: 20px; }
  .titlebar h3 {
    font-weight: 400; }
  .titlebar .month_nav {
    background: rgba(255, 255, 255, 0.1);
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    padding: 10px;
    color: #fff;
    transition: all 0.3s ease-out;
    font-size: 30px; }
  .titlebar .month_nav:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2); }
  .titlebar .next {
    right: 0; }
  .titlebar .prev {
    left: 0; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: none;
  border-left: none;
  vertical-align: center; }

.align-right {
  text-align: right; }

.positive {
  color: #54bf98; }

.negative {
  color: #e96e57; }

.margin-top {
  margin-top: 25px; }

.right-aside {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  height: 100%; }

.hover-animate i {
  transition: all 0.2s ease-out;
  position: relative;
  left: 30px;
  opacity: 0;
  transform: rotate(180deg); }

.hover-animate-left:hover i {
  left: 7px;
  opacity: 1;
  transform: rotate(0deg); }

.modal-backdrop {
  background-color: #172f3a; }

.modal-header {
  background-color: #346b83;
  color: #fff; }
  .modal-header .close {
    color: #fff; }

.inline-form-element {
  float: none !important;
  width: auto !important;
  display: inline !important; }

.checkbox {
  display: inline-block;
  margin-right: 8px !important; }

.btn-primary {
  background-color: #346b83; }

.btn-primary:hover {
  background-color: #346b83;
  opacity: .8; }

input, input:focus, label, label:focus, label:before {
  box-shadow: none !important; }

.checkbox-danger input[type=checkbox] {
  margin-left: 0 !important; }

/*# sourceMappingURL=style.css.map */
